---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import { SITE_TITLE, SITE_DESCRIPTION, CDN_URL, ESO_API_URL } from "@/consts";
import Footer from "@/components/Footer.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Meta from "@/components/Meta.astro";
import { md2html } from "@/utils";

const { slug } = Astro.params;

/** 角色 */
async function getRole(slug: string) {
  const query = new URLSearchParams();
  query.set("pagination[pageSize]", "1");
  query.set("pagination[page]", "1");
  query.set("filters[slug][$eq]", slug!);
  query.set("populate", "*");

  const response = await fetch(`${ESO_API_URL}/api/group-roles?${query}`);
  const result = await response.json();
  const data = result?.data[0];

  return data;
}

const data = await getRole(slug!);

if (data == null) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const meta = [
  { name: "名称", content: data.attributes.name },
  { name: "英文", content: data.attributes.nameEn },
];
---

<html lang="zh-CN">
  <head>
    <HeaderMeta
      title={`${data.attributes.name} - 角色 - ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />
    <main class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4">
      <article class="p-6 md:col-span-3">
        <div class="markdown-body">
          <h1>
            {data.attributes.name}
            <small class="text-gray-500">{data.attributes.nameEn}</small>
          </h1>
          <img
            class="float-left"
            src={`${data.attributes.thumb}?imageView2/2/w/64/q/85`}
            width="64"
            height="64"
            alt=""
          />
          <p>
            {data.attributes.name}是上古卷轴 OL 的一个<a href="/role">角色</a>。
          </p>
          <Fragment set:html={md2html(data.attributes.description)} />
          <Fragment set:html={md2html(data.attributes.content)} />

          <h2 id="build">构建</h2>
          <ul>
            {
              data.attributes.builds.data.map((build: any) => (
                <li>
                  <a href={`/build/${build.attributes.slug}`}>
                    {build.attributes.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </article>

      <aside class="py-6 md:col-span-1">
        <Meta title="角色" meta={meta} />
      </aside>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
