---
import { ESO_API_URL } from "@/consts";
import ListLayout from "@/layouts/ListLayout.astro";
import { md2html } from "@/utils";

const query = new URLSearchParams();
// query.set("sort[0]", "id:asc");
// query.set("populate", "*");
query.set("pagination[pageSize]", "1");
query.set("pagination[page]", "1");

const response = await fetch(`${ESO_API_URL}/api/npcs?${query}`);
const result = await response.json();

const { data: npc } = await fetch(`${ESO_API_URL}/api/articles/10`).then((x) =>
  x.json()
);
---

<ListLayout
  name="NPC"
  nameEn="Non-Player Character"
  description={npc.attributes.description}
  search="/npc/list"
>
  <p>
    上古卷轴OL目前一共有 <a href="/npc/list"
      ><strong>{result.meta.pagination.total}</strong>
    </a>
    个 NPC。
  </p>
  <Fragment set:html={md2html(npc.attributes.content)} />
</ListLayout>
