---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import { EsoMap, AreaList, Sidebar } from "@/components";
import type { MapData, PoiType } from "@/types";
import dataInit from "@/data/initialize.json";
import { CDN_URL, SITE_TITLE, MAP_SIZE, MARKER_SIZE } from "@/consts";

export async function getStaticPaths({}) {
  return dataInit.maps.map(({ id }: { id: number }) => ({ params: { id } }));
}

const { id } = Astro.params;

const response = await fetch(`${CDN_URL}/maps/${id}.json`);

// 当请求 tooltip 的时候，返回 json 数据
if (Astro.request.headers.get("x-request-for") === "tooltip") {
  if (response.status === 404) {
    return new Response(JSON.stringify({}), {
      headers: {
        "content-type": "application/json",
      },
    });
  }

  const mapData = (await response.json()) as MapData;
  const poiId = Astro.url.searchParams.get("poi");
  const poi = mapData.pois.find(({ id }) => id === poiId);

  const result = {
    name: mapData.name,
    file: `${CDN_URL}${mapData.file}?imageMogr2/format/webp`,
    size: MAP_SIZE,
    poi_icon: `${CDN_URL}${poi?.icon}?imageMogr2/format/webp`,
    x: poi?.x,
    y: poi?.y,
  };

  return new Response(JSON.stringify(result), {
    headers: {
      "content-type": "application/json",
    },
  });
}

if (response.status === 404) {
  return Astro.redirect("/404");
}

const mapData = (await response.json()) as MapData;
const poiTypes = dataInit.poi_types as PoiType[];

const areaIds = [
  1, 7, 9, 10, 12, 13, 16, 20, 22, 26, 27, 30, 61, 74, 75, 125, 143, 201, 227,
  255, 256, 258, 300, 439, 660, 667, 994, 1006, 1060, 1126, 1313, 1349, 1429,
  1484, 1552, 1555, 1654, 1719, 1747, 1814, 1850, 1863, 1887, 2021, 2035, 2114,
  2119, 2212,
];

const collator = new Intl.Collator("zh");
const areaList = dataInit.maps
  .filter(({ id }) => areaIds.includes(id))
  .map(({ id, name }) => ({ id, name }))
  .sort((a, b) => collator.compare(a.name, b.name));

const title = `${mapData.name} - 上古卷轴OL地图 - ${SITE_TITLE}`;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <HeaderMeta
      title={title}
      description="可交互的 ESO Map (上古卷轴OL)，可以查找天空碎片，任务，藏宝图，套装，地牢，天际，泰姆瑞尔等等"
    />
  </head>
  <body>
    <HeaderNav />
    <AreaList client:load data={areaList} />
    <EsoMap client:load mapData={mapData} poiTypes={poiTypes} />
    <Sidebar client:only="preact" />
  </body>
</html>
