---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Footer from "@/components/Footer.astro";
import { formatDate, toSafeInteger } from "@/utils";
import { SITE_TITLE, SITE_DESCRIPTION, CDN_URL } from "@/consts";
import type { Post } from "@/types";

const posts = await Astro.glob<Post>("./build/*.{md,mdx}");
---

<html lang="zh-CN">
  <head>
    <HeaderMeta title={`构建 - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <HeaderNav />

    <main class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4">
      <section class="md:col-span-3">
        <ul role="list" class="m-4">
          {
            posts.map((post) => (
              <li class="mt-4 overflow-hidden">
                <div class="block md:flex mt-1 text-gray-900">
                  <div class="md:shrink-0 p-2 h-48 w-full md:h-full md:w-80">
                    <a href={post.url} class="hover:text-gray-500">
                      <img
                        class="object-cover"
                        src={post.frontmatter.image}
                        alt={post.frontmatter.title}
                      />
                    </a>
                  </div>
                  <div class="p-2">
                    <a href={post.url} class="hover:text-gray-500">
                      <h2 class="leading-tight text-2xl font-bold">
                        {post.frontmatter.title}
                      </h2>
                      <p class="mt-2 text-sm">{post.frontmatter.description}</p>
                    </a>
                    <div class="flex flex-wrap mt-4 text-sm">
                      <time datetime={post.frontmatter.pubDate}>
                        {formatDate(post.frontmatter.pubDate)}
                      </time>
                      {post.frontmatter.tags.map((tag) => (
                        <a
                          href={`#${tag}`}
                          class="mx-1 text-gray-500 hover:text-gray-700"
                        >
                          {tag}
                        </a>
                      ))}
                    </div>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <!-- <Footer /> -->
    <ScrollToTop />
  </body>
</html>
