---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, CDN_URL } from "@/consts";
import { md2html } from "@/utils";

const content: string = `《上古卷轴OL》的背景故事讲述发生在泰姆瑞尔大陆上的战争，这场战争发生于《上古卷轴5:天际》的 1000 年前。
玩家将可以选择加入 3 个[阵营](/faction)，每个阵营分别由 3 个[种族](/race)组成。

- [黑檀心公约联合](/faction/ebonheart-pact)阵营由[诺德人](/race/nord)、[暗精灵](/race/dark-elf)和[亚龙人](/race/argonian)三大种族组成。由[斯卡德国王乔伦](/npc/jorunn-the-skald-king)领导的军国主义联盟，团结一致，旨在确保其人民的领土完整。
- [先祖神州](/faction/aldmeri-dominion)阵营由[高精灵](/race/high-elf)、[木精灵](/race/wood-elf)和[虎人](/race/khajiit)三大种族组成。由[艾瑞恩](/npc/queen-ayrenn)女王领导的新联盟，旨在重建精灵对泰姆瑞尔的监护权。
- [匕落同盟](/faction/daggerfall-covenant)阵营由[布莱顿人](/race/breton)、[红卫人](/race/redguard)和[兽人](/race/orc)三大种族组成。由[至高国王埃默里克](/npc/high-king-emeric)领导的封建联盟，旨在恢复第二帝国并确保贸易机会。
- [西罗帝尔](/location/cyrodiil)是泰姆瑞尔大陆的中心，由[帝都人](/race/imperial)统治。

他们并未察觉，魔神[莫拉格·巴尔](/npc/molag-bal)的魔族军团即将侵略奈恩世界，他使用[暗锚](/worldevent/dark-anchors)意图将奈恩世界拉入湮灭领域。
莫拉格·巴尔攻占了帝国的首都[西罗帝尔](/location/cyrodiil)。
皇帝本人瓦仁·阿基拉里奥斯在此次事件中下落不明。

红宝石王座空缺，原本服务于皇帝的尚恩家族与[莫拉格·巴尔](/npc/molag-bal)勾结，并由[克丽维娅·萨恩](/npc/empress-regent-clivia-tharn)成立傀儡政权。
原本向帝国效忠的各大行省纷纷宣布独立，并且组成了三个互相敌对的联盟，打击对手扩张着自己的地盘。
同时，三个联盟全都剑指帝国首都，试图问鼎[西罗帝尔](/location/cyrodiil)。

游戏的剧情分为世界主线和阵营主线。三大阵营主线的顺序为:

- 黑檀心公约联合: [荒岩岛](/location/bleakrock-isle) --> [巴尔弗延](/location/bal-foyen) --> [石落](/location/stonefalls) --> [迪莎安](/location/deshaan) --> [暗影沼泽](/location/shadowfen) --> [东境](/location/eastmarch) --> [裂谷](/location/the-rift)
- 先祖神州: [柯娜西的居所](/location/khenarthi-s-roost) --> [奥瑞敦](/location/auridon) --> [格拉特森林](/location/grahtwood) --> [绿影](/location/greenshade) --> [马拉巴尔石山](/location/malabal-tor) --> [收割者之境](/location/reaper-s-march)
- 匕落同盟: [斯特罗斯·迈凯](/location/stros-m-kai) --> [贝庭克](/location/betnikh) --> [格伦姆布拉](/location/glenumbra) --> [风暴港](/location/stormhaven) --> [破碎尖顶](/location/rivenspire) --> [阿里克尔沙漠](/location/alik-r-desert) --> [班古莱](/location/bangkorai)

在到达第二个区域的时候，可以将[斗士公会](/faction/fighters-guild)和[法师公会](/faction/mages-guild)的主线做一做，同时前往下一个区域的主线。

将全部同一阵营的区域主线做完后就可以开始做世界主线。
世界主线是玩家对抗魔神[莫拉格·巴尔](/npc/molag-bal)的入侵。
玩家一开始被夺走灵魂并丢入[冷港](/location/coldharbour)监狱，逃狱后踏上了英雄旅程。
但是推荐把三大阵营的区域主线全部都做完，因为最后进攻的时候，三大[阵营](/faction)的 [NPC](/npc) 都会前来协助，如果你想触发隐藏对话，你必须之前与他们共同进行过任务。

除了前文中提到的[斗士公会](/faction/fighters-guild)和[法师公会](/faction/mages-guild)之外，玩家还可以加入[闯世者](/faction/undaunted)、[塞伊克教团](/faction/psijic-order)。
如果喜欢偷盗那么可以加入[盗贼公会](/faction/thieves-guild)，如果喜欢刺客和暗杀那么可以加入[黑暗兄弟会](/faction/dark-brotherhood)。
除此之外玩家还可以加入 5 个玩家公会。

在上古卷轴OL中，有 5 个[职业](/class)供玩家选择，分别是[龙骑士](/class/dragonknight)、[死灵法师](/class/necromancer)、[夜刃](/class/nightblade)、[术士](/class/sorcerer)、[圣殿骑士](/class/templar)、[守望者](/class/warden)。

![](https://eso-cdn.denohub.com/thumb/e/e3/ON-concept-Dark_Anchor.jpg)
`;
---

<html lang="zh-CN">
  <head>
    <HeaderMeta title={`攻略 - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />

    <main class="flex flex-col items-center h-full">
      <div class="max-w-6xl w-full">
        <div class="rounded-lg shadow-lg p-4">
          <h1 class="text-2xl font-bold">{SITE_TITLE}</h1>
          <div class="mt-4 markdown-body">
            <Fragment set:html={md2html(content)} />
          </div>
        </div>
      </div>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
