---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, CDN_URL } from "@/consts";
---

<html lang="zh-CN">
  <head>
    <HeaderMeta title={`攻略 - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />

    <main class="flex flex-col items-center h-full">
      <div class="max-w-4xl w-full">
        <div class="rounded-lg shadow-lg p-4">
          <h1 class="text-2xl font-bold">{SITE_TITLE}</h1>
          <div class="mt-4 markdown-body">
            <p class="text-gray-500">{SITE_DESCRIPTION}</p>
            <p class="text-red-500">
              正在开发中。。。目前已经完成的模块有
              <strong>新闻</strong>、
              <strong>地图</strong>。
            </p>
            <p class="text-gray-500">请欣赏一下 ESO 中文预告片</p>
            <video
              playsinline
              controls
              class="w-full mx-auto mt-4"
              poster="https://cdn.akamai.steamstatic.com/steam/apps/306130/header_schinese.jpg"
              src="https://cdn.akamai.steamstatic.com/steam/apps/256913457/movie480_vp9.webm"
              data-hd-src="https://cdn.akamai.steamstatic.com/steam/apps/256913457/movie_max_vp9.webm"
            >
            </video>
          </div>
        </div>
      </div>
    </main>

    <ScrollToTop />
  </body>
</html>
