---
import { ESO_API_URL } from "@/consts";
import { md2html } from "@/utils";
import ArticleLayout from "@/layouts/ArticleLayout.astro";

const { slug } = Astro.params;

/** 种族 */
async function getRace(slug: string) {
  const query = new URLSearchParams();
  query.set("pagination[pageSize]", "1");
  query.set("pagination[page]", "1");
  query.set("filters[slug][$eq]", slug!);
  query.set("populate", "*");

  const response = await fetch(`${ESO_API_URL}/api/races?${query}`);
  const result = await response.json();
  const data = result?.data[0];

  return data;
}

/** 技能 */
async function getSkills(race: string) {
  const query = new URLSearchParams();
  if (race === "帝都人") race = "帝都";
  query.set("filters[skillTypeName][$eq]", `种族::${race}技能`);
  query.set("sort[0]", "skillIndex:asc");

  const response = await fetch(`${ESO_API_URL}/api/skills?${query}`);
  const result = await response.json();

  return result?.data;
}

const data = await getRace(slug!);

if (data == null) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const skills = await getSkills(data.attributes.name);
const faction = data.attributes.faction.data
  ? `<a href="/faction/${data.attributes.faction.data.attributes.slug}">${data.attributes.faction.data.attributes.name}</a>`
  : null;

const meta = [
  { name: "姓名", content: data.attributes.name },
  { name: "英文", content: data.attributes.nameEn },
  { name: "阵营", content: faction },
  {
    name: "",
    content: `<img src="${data.attributes.thumb}" width="200" alt="" />`,
  },
];
---

<ArticleLayout
  name={data.attributes.name}
  nameEn={data.attributes.nameEn}
  type="种族"
  meta={meta}
>
  <Fragment set:html={md2html(data.attributes.description)} />

  {
    skills.length > 0 && (
      <>
        <h2>种族技能</h2>
        <ol>
          {skills.map((skill: any) => (
            <li>
              <p>
                <a href={`/skill/${skill.attributes.slug}`}>
                  <img
                    class="inline-flex"
                    src={skill.attributes.icon}
                    width="24"
                    height="24"
                    alt=""
                  />
                  {skill.attributes.name}
                </a>
              </p>
              <p
                set:html={skill.attributes.description.replace("\n", "<br />")}
              />
            </li>
          ))}
        </ol>
      </>
    )
  }

  <Fragment set:html={md2html(data.attributes.content)} />
</ArticleLayout>
