---
import { ESO_API_URL } from "@/consts";
import ListLayout from "@/layouts/ListLayout.astro";

const query = new URLSearchParams();
query.set("sort[0]", "id:asc");
query.set("populate", "*");

const response = await fetch(`${ESO_API_URL}/api/races?${query}`);
const result = await response.json();
const data = result?.data;

const factions = ["先祖神州", "匕落同盟", "黑檀心公约联合"];
---

<ListLayout
  name="种族"
  nameEn="Race"
  description="上古卷轴OL一共有 10 个种族。每个种族都有自己的特点，比如种族技能、种族特性、种族特征等。"
>
  <p>
    上古卷轴OL一共有 10
    个可玩种族。每个种族都有自己的特点，比如种族技能、种族特性、种族外貌等。下面按[联盟阵营](/faction#alliances)列出了
    ESO 的可玩种族：
  </p>

  {
    factions.map((factionName) => (
      <>
        <h3>{factionName}</h3>
        <ul>
          {data
            .filter((x: any) => {
              const faction = x.attributes.faction.data;
              if (!faction) return false;
              return faction.attributes.name === factionName;
            })
            .map((x: any) => (
              <li>
                <a href={`/race/${x.attributes.name}`}>{x.attributes.name}</a>
              </li>
            ))}
        </ul>
      </>
    ))
  }

  <h3>其他种族</h3>
  <p>除此之外，上古卷轴OL还有一些其他种族：</p>
  <ul>
    {
      data
        .filter((x: any) => x.attributes.faction.data === null)
        .map((x: any) => (
          <li>
            <a href={`/race/${x.attributes.name}`}>{x.attributes.name}</a>
          </li>
        ))
    }
  </ul>
</ListLayout>
