---
import { ESO_API_URL } from "@/consts";
import ListLayout from "@/layouts/ListLayout.astro";

const query = new URLSearchParams();
query.set("sort[0]", "id:asc");
query.set("populate", "*");

const response = await fetch(`${ESO_API_URL}/api/mundus-stones?${query}`);
const result = await response.json();
const data = result?.data;
---

<ListLayout
  name="梦达思之石"
  nameEn="Mundus Stone"
  description="梦达思之石是献给星座的立石，这些梦达思之石可以在联盟和希罗迪尔的地图上找到。激活之后会给你一个永久的赐福，但是一次只能有激活 1 个。"
>
  <img
    class="float-left mr-1"
    src="https://eso-cdn.denohub.com/thumb/a/a5/ON-mapicon-MundusStone.png"
    height="64"
    width="64"
    alt="梦达思之石"
  />
  <p>
    梦达思之石是献给星座的立石，上古卷轴OL一共有 {data.length} 块梦达思之石，这些梦达思之石可以在联盟和希罗迪尔的地图上找到。激活之后会给你一个永久的赐福，但是一次只能有激活
    1 个。当玩家使用<a href="/set/twice-born-star">再生之星</a
    >套装时，允许角色同时拥有 2 个赐福。
  </p>

  <h2 class="clear-both">赐福效果</h2>
  <ul>
    {
      data.map((x: any) => (
        <li>
          <a href={`/mundus-stone/${x.attributes.slug}`}>{x.attributes.name}</a>
          - {x.attributes.effect}
        </li>
      ))
    }
  </ul>

  <h2>你知道吗？</h2>
  <ul>
    <li>
      <a href="/mundus-stone/lord">君主</a>之石是唯一一个无法在<a
        href="/location/cyrodiil">西罗帝尔</a
      >找到的梦达思之石。
    </li>
    <li>
      在<a href="/location/craglorn">荒崖</a>有 3
      块没有标记的破碎梦达思之石，分别是君主，淑女和天马。它们与任务 <a
        href="/quest/the-corrupted-stone">The Corrupted Stone</a
      > 有关，不能用于改变赐福。
    </li>
  </ul>
</ListLayout>
