---
import { ESO_API_URL } from "@/consts";
import { md2html, formatDate } from "@/utils";
import ArticleLayout from "@/layouts/ArticleLayout.astro";

const { slug } = Astro.params;

/** DLC */
async function getDLC(slug: string) {
  const query = new URLSearchParams();
  query.set("pagination[pageSize]", "1");
  query.set("pagination[page]", "1");
  query.set("filters[slug][$eq]", slug!);
  query.set("populate", "*");

  const response = await fetch(`${ESO_API_URL}/api/dlcs?${query}`);
  const result = await response.json();
  return result?.data[0];
}

const data = await getDLC(slug!);

if (data == null) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const bundle = data.attributes.bundle.data
  ? `<a href="/dlc/bundle#${data.attributes.bundle.data.attributes.slug}">${data.attributes.bundle.data.attributes.name}</a>`
  : "无";

const meta = [
  { name: "名称", content: data.attributes.name },
  { name: "英文", content: data.attributes.nameEn },
  {
    name: "价格",
    content:
      data.attributes.crowns == null
        ? `<span class="text-red-400">无法购买</span>`
        : `${data.attributes.crowns} <img class="inline" src="https://eso-cdn.denohub.com/thumb/8/8e/ON-icon-store-Crowns.png" width="16" height="16" title="王冠" alt="">`,
  },
  { name: "捆绑包", content: bundle },
  { name: "上线时间", content: data.attributes.releaseDate },
];
---

<ArticleLayout
  name={data.attributes.name}
  nameEn={data.attributes.nameEn}
  type="DLC"
  meta={meta}
>
  <img
    class="float-right ml-4"
    src={data.attributes.thumb}
    alt=""
    width="64"
    height="64"
  />
  <p>
    {data.attributes.name}是上古卷轴OL的一个<a href="/dlc">DLC</a>，发行于{
      formatDate(data.attributes.releaseDate)
    }。
  </p>
  <blockquote set:html={md2html(data.attributes.description)} />
  <Fragment set:html={md2html(data.attributes.content)} />
</ArticleLayout>
