---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import { SITE_TITLE, SITE_DESCRIPTION, CDN_URL, ESO_API_URL } from "@/consts";
import Footer from "@/components/Footer.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import { md2html } from "@/utils";

const query = new URLSearchParams();
query.set("sort[0]", "releaseDate:desc");
query.set("populate", "*");

const response = await fetch(`${ESO_API_URL}/api/dlcs?${query}`);
const result = await response.json();
const {
  data,
  meta: { pagination },
} = result;
---

<html lang="zh-CN">
  <head>
    <HeaderMeta title={`DLC - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />
    <main class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4">
      <article class="p-6 md:col-span-3">
        <div class="markdown-body">
          <h1>DLC</h1>
          <p>
            章节是上古卷轴OL的大型扩展。新发布的章节不能在<a href="/crown-store"
              >王冠商城</a
            >中购买，也不包含在 <a href="/eso-plus">ESO Plus</a> 订阅中，想要在 steam
            上单独购买。新章节包括以前的章节，而升级版本则不包括。旧章节的部分通常在初始发布一年后通过
            ESO Plus 和<a href="/crown-store">王冠商城</a>作为 <a href="/dlc"
              >DLC</a
            >
            提供。每个章节中始终包含一个大区域。
          </p>

          <p>
            DLC 是上古卷轴OL的单独内容包，可以从游戏内的<a href="/crown-store"
              >王冠商城</a
            >永久购买。或者 <a href="/eso-plus">ESO Plus</a> 会员可以在订阅期间访问所有
            DLC。如果您在未购买 DLC 的情况下取消 ESO Plus，则不会丢失进度，并且获得的所有物品和技能都将保持可用状态。
          </p>

          <p>
            <a href="/chapter/high-isle">高岛</a>被认为是一个<a href="/chapter"
              >章节</a
            >而不是一个 DLC。章节无法通过 ESO Plus
            或王冠商城获得，因此未在此处列出。<a href="/chapter/morrowind"
              >晨风</a
            >、<a href="/chapter/summerset">夏暮</a>、<a href="/chapter/elsweyr"
              >艾斯维尔</a
            >、<a href="/chapter/greymoor">灰沼</a>和<a
              href="/chapter/blackwood">黑木</a
            >以前只作为章节提供，但随着下一章节的发布，它们在王冠商城中作为 DLC
            提供。
          </p>

          <p>
            上古卷轴OL目前一共有 {pagination.total} 个 DLC (按发布时间倒序排列):
          </p>

          <dl>
            {
              data.map((x: any) => (
                <>
                  <dt>
                    <a href={`/dlc/${x.attributes.slug}`}>
                      {x.attributes.name}
                    </a>
                    <small class="text-gray-500">
                      {x.attributes.releaseDate}
                    </small>
                  </dt>
                  <dd set:html={md2html(x.attributes.description)} />
                </>
              ))
            }
          </dl>
        </div>
      </article>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
