---
import { ESO_API_URL } from "@/consts";
import ListLayout from "@/layouts/ListLayout.astro";

let page = Astro.url.searchParams.get("page") || "1";
const q = Astro.url.searchParams.get("q") || "";

if (!/^\d+$/.test(page)) {
  page = "1";
}

const query = new URLSearchParams();
query.set("pagination[pageSize]", "100");
query.set("pagination[page]", page);
query.set("sort[0]", "id:asc");
// query.set("populate", "*");
if (q) {
  query.set("filters[$or][0][title][$containsi]", q);
  query.set("filters[$or][1][titleEn][$containsi]", q);
}

const response = await fetch(`${ESO_API_URL}/api/books?${query}`);
const { data, meta } = await response.json();
---

<ListLayout
  name="书籍"
  nameEn="Book"
  pagination={meta.pagination}
  search="/book/list"
>
  <p>
    {
      q
        ? `搜索到 ${meta.pagination.total} 本与 “${q}” 相关的书。`
        : `上古卷轴OL目前一共有 ${meta.pagination.total} 本书。`
    }
  </p>
  <ul>
    {
      data.map((x: any) => (
        <li>
          <a href={`/book/${x.attributes.slug}`}>
            {x.attributes.title.replace(`(${x.attributes.titleEn})`, "")}
          </a>
          <small class="text-gray-500">({x.attributes.titleEn})</small>
        </li>
      ))
    }
  </ul>
</ListLayout>
