---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Footer from "@/components/Footer.astro";
import Meta, { type Meta as MetaProps } from "@/components/Meta.astro";
import { SITE_TITLE, SITE_DESCRIPTION, CDN_URL, ESO_API_URL } from "@/consts";
import { md2html } from "@/utils";

const response = await fetch(`${ESO_API_URL}/api/posts/21?populate[1]=meta`);
const { data } = await response.json();

const meta = [
  { name: "名称", content: data.attributes.name },
  { name: "英文", content: data.attributes.nameEn },
];

if (data.attributes.meta.length > 0) {
  data.attributes.meta.forEach(({ key, value, type }: any) => {
    meta.push({
      name: key,
      content: value,
    });
  });
}
---

<html lang="zh-CN">
  <head>
    <HeaderMeta title={`攻略 - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />

    <main class="max-w-screen-xl mx-auto">
      <article class="p-4">
        <div class="hidden md:w-64 md:ml-4 md:my-4 md:float-right md:flex">
          <Meta title="游戏" meta={meta} />
        </div>
        <div class="mt-4 markdown-body">
          <Fragment set:html={md2html(data.attributes.content)} />
        </div>
      </article>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
