---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, CDN_URL, SITE_DESCRIPTION } from "@/consts";
import Meta, { type Meta as MetaProps } from "@/components/Meta.astro";
import "@/styles/global.css";

export interface Props {
  name: string;
  type: string;
  nameEn?: string;
  description?: string;
  meta: MetaProps[];
  search?: string;
}

const { name, nameEn, type, description, meta, search } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <HeaderMeta
      title={`${name} - ${type} - ${SITE_TITLE}`}
      description={description || SITE_DESCRIPTION}
    />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />
    <main
      class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-4 py-4 md:min-h-[calc(100vh-80px-128px)]"
    >
      <article class="md:col-span-3 markdown-body p-4">
        <h1>
          {name}
          <small class="ml-2 text-gray-500">{nameEn}</small>
        </h1>
        <slot />
      </article>
      <aside class="px-4 md:col-span-1 md:px-0">
        <Meta title={type} meta={meta} search={search} />
      </aside>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
