---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Footer from "@/components/Footer.astro";
import { formatDate } from "@/utils";
import { SITE_TITLE, CDN_URL } from "@/consts";

export interface Props {
  content: {
    title: string;
    description: string;
    image?: string;
    tags: string[];
  };
}

const {
  content: { title, description, image, tags },
} = Astro.props;
---

<html lang="zh-CN">
  <head>
    <HeaderMeta
      title={`${title} - 构建 - ${SITE_TITLE}`}
      description={description}
    />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />
    <main class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4">
      <article class="p-6 md:col-span-3">
        <h1 class="text-4xl text-gray-900 font-bold">{title}</h1>
        <div class="flex items-center mt-4">
          {
            tags.map((tag) => (
              <a
                href={`#${tag}`}
                class="mx-1 text-gray-500 text-sm hover:text-gray-700"
              >
                {tag}
              </a>
            ))
          }
        </div>
        {image && <img class="my-4 shadow-gray-300" src={image} alt="" />}
        <div class="markdown-body">
          <p class="text-gray-500">{description}</p>
          <slot />
        </div>
      </article>
      <aside class="p-6 md:col-span-1">
        <h2 class="text-2xl text-gray-900 font-bold">侧边栏</h2>
      </aside>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
