---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Footer from "@/components/Footer.astro";
import Pagination from "@/components/Pagination.astro";
import { SITE_TITLE, CDN_URL, SITE_DESCRIPTION } from "@/consts";
import { md2text } from "@/utils";
import "@/styles/global.css";

export interface Props {
  name?: string;
  nameEn?: string;
  description?: string;
  pagination?: any;
  search?: string;
}

const { name, nameEn, description, pagination, search } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <HeaderMeta
      title={`${name} - ${SITE_TITLE}`}
      description={md2text(description) ?? SITE_DESCRIPTION}
    />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />
    <main class="max-w-screen-xl mx-auto p-4 md:min-h-[calc(100vh-80px-128px)]">
      <article class="markdown-body">
        {
          name && (
            <h1>
              {name}
              <small class="text-gray-500">{nameEn}</small>
              {search && (
                <form id="form-search" action={search} class="w-64 float-right">
                  <input
                    type="search"
                    name="q"
                    id="q"
                    autocomplete="off"
                    placeholder="搜索..."
                    value={Astro.url.searchParams.get("q")}
                    class="filter block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </form>
              )}
            </h1>
          )
        }

        <slot />
        {pagination && <Pagination {...pagination} />}
      </article>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
