---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Footer from "@/components/Footer.astro";
import { formatDate } from "@/utils";
import { SITE_TITLE, CDN_URL } from "@/consts";
import type { Post } from "@/types";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    image?: string;
    tags: string[];
  };
}

const {
  content: { title, description, pubDate, image, tags },
} = Astro.props;

const posts = (await Astro.glob<Post>("../pages/news/post/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .filter((post) => post.frontmatter.title !== title)
  .slice(0, 10);
---

<html lang="zh-CN">
  <head>
    <HeaderMeta
      title={title
        ? `${title} - 上古卷轴OL新闻 - ${SITE_TITLE}`
        : `上古卷轴OL新闻 - ${SITE_TITLE}`}
      description={description}
    />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />
    <main class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4">
      <article class="p-6 md:col-span-3">
        <h1 class="text-4xl text-gray-900 font-bold">{title}</h1>
        <div class="flex items-center mt-4">
          <time class="text-gray-900 text-sm mr-4" datetime={pubDate}>
            {formatDate(pubDate)}
          </time>
          {
            tags.map((tag) => (
              <a
                href={`#${tag}`}
                class="mx-1 text-gray-500 text-sm hover:text-gray-700"
              >
                {tag}
              </a>
            ))
          }
        </div>
        {image && <img class="my-4 shadow-gray-300" src={image} alt="" />}
        <div class="markdown-body">
          <p class="text-gray-500">{description}</p>
          <slot />
        </div>
      </article>
      <aside class="p-6 md:col-span-1">
        <h2 class="text-2xl text-gray-900 font-bold">近期新闻</h2>
        <ul class="mt-4">
          {
            posts.map(({ url, frontmatter: { title } }) => (
              <li class="mt-4">
                <a class="text-gray-900 hover:underline" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </aside>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
